.section {
    vertical-align: inherit;
}

.background {}
.background img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.navbar {
    z-index: 100;
    position: fixed;
    top: 10%;
    width: 100%;
    height: auto;
}

.navbar .nav {
    display: inline-flex;
    float: right;
    padding-right: 10px;
}

.navbar .nav a {
    font-size: 2em;
    color: white;
    cursor: pointer;
    text-decoration: none;
}


.navbar .nav a .active{
    color: green;
}